body {
    font-family:sans-serif;
    padding: 0 60px;
}

h1 {
    font-size: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  form i {
    margin-left: 580px;
    cursor: pointer;
}

  /* .password-toggle-container {
    position: relative;
} 

.password-toggle-container input[type="password"] {
    padding-right: 30px; 
}

.password-toggle-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(-2%);
    cursor: pointer;
} */
